[2019-01-14 12:58] foolip opened #1 "Establish the RFC process"
# Summary

With the [wpt core team](https://lists.w3.org/Archives/Public/public-test-infra/2019JanMar/0000.html) now in place, this repo will hold the process for making substantive changes. This first RFC is about establishing the process itself, to give a chance for comments on that before beginning to use it.

# Motivation

https://github.com/web-platform-tests/wpt/issues/11473 is the backgroun

[2019-01-14 13:06] jgraham commented on #1
I think 1 week for an initial decision may be too short? Possibly it should be 2 weeks without any signal that times out the process, but with the possibility of wide agreement in less time? I'm not sure.

[2019-01-14 13:16] foolip commented on #1
It's certainly not uncommon for someone to be away for a week so that they'd miss RFCs if the period is just one week, but I wonder if we can rely on others to spot when something is likely controversial and extend the comment period for those cases, rather than shortening it for the trivial?

[2019-01-14 13:22] foolip commented on #1
I just added "As a last resort, the core team may decide using a 2/3 majority vote." to README.md based on previous discussion.

[2019-01-14 13:48] foolip commented on #1
@web-platform-tests/wpt-core-team please review.

[2019-01-14 14:58] zcorpan commented on #1
If something is non-controversial and trivial, does it need to use the RFC process?

I think 2 weeks from the time the issue is created is reasonable, and people can ask to extend if they need more time.

[2019-01-14 15:08] foolip commented on #1
The idea is that the conditions in https://github.com/web-platform-tests/rfcs/blob/master/README.md#when-to-use-the-rfc-process should filter out the non-controversial and trivial.

[2019-01-14 18:08] gsnedders commented on #1
I think that:

 * The "substantial changes" comment should be under the "When to use the RFC process" heading.
 * Some examples of what *doesn't* need an RFC would be useful.

[2019-01-15 09:38] foolip commented on #1
My concern with two weeks as the default is that there will be many cases that aren't controversial, but just need people to know about the change. Most of the examples in https://github.com/web-platform-tests/rfcs/blob/master/README.md#when-to-use-the-rfc-process can be like this, where as long as we've confirmed with all downstream users they're OK with it, it's good to go.

To avoid having some

[2019-01-15 09:49] foolip commented on #1
@gsnedders, I sent https://github.com/web-platform-tests/rfcs/pull/2 for your comments, please review.

[2019-01-15 09:55] foolip commented on #1
All, I've sent https://github.com/web-platform-tests/rfcs/pull/3 with my proposal for how to extend to two weeks in cases where needed. Can someone review?

[2019-01-16 10:42] foolip commented on #1
For this RFC itself, let's go with two weeks an consider it done on Jan 28.

[2019-01-16 16:46] foolip commented on #1
Alright, both PRs are merged so the state on master is again good for review if anyone's coming fresh to the issue.

[2019-01-17 12:55] Ms2ger commented on #1
The way I read it, every issue that doesn't reach substantive agreement within two weeks would be escalated to the core team as a matter of policy. Does that make sense in a case where there's ongoing discussion in the issue that's likely to reach consensus soon anyway? Maybe we should just add a note that the core team can defer the issue back to the issue tracker for some well-defined period.

[2019-01-17 14:20] foolip commented on #1
Good point, "A decision should be made within 1 additional week" doesn't really work. As long as real discussion is going on and the RFC sender thinks it's productive, it should just keep going. But someone saying "I disagree" every week on the issue shouldn't extend it in perpetuity.

How about if we make it the RFC sender's call when to escalate, saying only that the minimum time of discussion i

[2019-01-17 14:40] jgraham commented on #1
I don't think it should be phrased in terms of timeouts, but in terms of whether meaningful new information is coming to light. "I disagree" isn't meaningful new information, but "there is this use case that hasn't been considered and has meaningfully different properties from the existing use cases" is. There is also supposed to be a rule that the arguments used to make a decision may only be tho

[2019-01-23 11:38] foolip commented on #1
Sorry, I didn't see the comment when it was made, came now to see why the discussion had died down. (It hadn't.)

@jgraham I think that makes sense. I've sent https://github.com/web-platform-tests/rfcs/pull/4 trying to turn those ideas into wording. Everyone please review! In keeping with the wording there, let's extend the commend period for this RFC to one week after the last PR is merged, so no

[2019-01-31 11:04] foolip commented on #1
Alright, https://github.com/web-platform-tests/rfcs/pull/4 has been merged, so let's set February 7 as the new end time for this RFC. Then maybe we can get back to work on non-meta RFCs :)

[2019-02-01 00:18] jugglinmike opened #5 "Automating browsers using Chrome DevTools Protocol"
# Summary

Introduction of an integration with the Chrome browser built on [the proprietary Chrome DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/) ("CDP"). This will be an alternative to the existing WebDriver integration, enabled via explicit opt-in.

# Motivation

Although [the WebDriver standard](https://w3c.github.io/webdriver/) is defined to empower web developers to a

[2019-02-01 00:18] jugglinmike commented on #5
As active participants in the Browser Tools and Testing Working Group, the following folks may have more to add on the topic: @AutomatedTester, @andreastt, @burg, @shs96c, and @whimboo.

[2019-02-04 11:23] jgraham commented on #5
In general I think adding additional executors to wptrunner is fine, so at a high level I don't have any objections. It is of course the responsibility of the people adding the executor to maintain it over the long term.

Having said that I think there are some considerations that should be made by anyone planning to add an executor. In terms of API surface the addition of testdriver means we are

[2019-02-04 17:05] youennf commented on #5
It also seems premature to me to use CDP in WPT.
I would wait for CDP standardization and cross-browser CDP adoption/commitment before starting to use it in WPT.

[2019-02-04 18:32] jugglinmike commented on #5
This distinction reduces the cohesiveness of the group maintaining WPT infrastructure. It's at odds with a "team" mentality which I am assuming is desirable. It also risks code rot given that not all contributors are employed to maintain WPT.

Given the choice, I would much rather see commitment from the entire group on these RFCs, even if that delays consensus.

Concerns around standardization se

[2019-02-04 19:03] burg commented on #5
Is there an important use case for WPT that WebDriver does not address? I want to hear about it. I don't know what you mean by "more expressive tests".

It sounds like the easiest way to fix this situation is for Chromium or its contributors to implement WebDriver support properly. After over a year of talk, there are still no spec drafts nor independent test suites for CDP, so I have no reason to

[2019-02-04 19:05] jgraham commented on #5
I am not claiming that if this lands you will personally be on the hook for all future patches. But throwing code over the wall and expecting other people to block changes on maintaining it whilst not contributing towards that maintainance is also problematic, even if there is initial agreement that the code can land. To solve this I think such a feature should come with a clear ownership story, w

[2019-02-04 22:46] jugglinmike commented on #5
In those meeting minutes, @shs96c (credited as "simonstewart") said:

@reillyeon (credited as "reillyg") had a slightly more concrete use case:

[2019-02-04 22:50] jugglinmike commented on #5
Maybe we could ask for commitment from Chrome to use this CDPExecutor in their infrastructure. That would give us a lot more confidence in the continued integration.

@LukeZielinski recently gave a presentation about their efforts to reduce the amount of internal infrastructure Google uses to run WPT; this could be a part of that effort.

Do folks at Mozilla use ExecutorMarionette to test Firefox?

[2019-02-05 13:00] gsnedders commented on #5
Given part of the motivation is being able to test current `master` of Chromium without waiting for ChromeDriver, I don't think it's reasonable to expect this group, collectively, to update ExecutorCDP as needed when CDP changes in backwards incompatible ways (as it is want to do and is, AFAIK, the primary cause of ChromeDriver breaking on `master`); we shouldn't be expected to keep up with what a

[2019-02-05 13:10] jgraham commented on #5
If CDP is easier to run against content_shell than WebDriver, such that Chrome could switch to using wptrunner internally with the former and not the latter, that would be an excellent reason to have the CDP executor, independent of any other considerations.

This is sort of scope creep, but without actually running that configuration in CI it might well break, but we certainly want to keep using

[2019-02-05 14:32] jgraham commented on #5
Although there certainly are things that work better in a bidirectional protocol like CDP than a command-response protocol like WebDriver, note again that it wouldn't be possible to add such features to the testing API until such a time as they were covered by a web standard (in practice, a web standard with vendor buy-in since the RFC process would presumably reject any extensions that couldn't b

[2019-02-06 10:47] foolip commented on #1
I've sent https://github.com/web-platform-tests/rfcs/pull/6, if someone wants to review that I can merge it tomorrow and we're done!

[2019-02-07 15:23] #1 closed

[2019-02-08 11:20] foolip commented on #5
With https://github.com/web-platform-tests/rfcs/issues/1 (the process itself) resolved yesterday, let's act as if this RFC was filed yesterday and give at least until Feb 14 before making a decision on this.

It is my team (Ecosystem Infra) which has asked for this prototype and now its integration into WPT, so I am of course very supportive of this.

**What is the point of this?** We have identif

[2019-02-08 15:28] LukeZielinski commented on #5
Thanks @foolip for the great explanation.

The diagrams Philip refers to can be found near the top of the [design doc to use WPT in Chromium CI](https://docs.google.com/document/d/1Pq5fxR1t2JzOVPynqeRpRS4bM4QO_Z1um0Q_RiR5ETA/edit#)

[2019-02-08 15:36] jgraham commented on #5
That doc isn't public.

[2019-02-08 15:44] LukeZielinski commented on #5
Apologies, should be fixed now.

[2019-02-08 18:48] shs96c commented on #5
The statement "By adopting it today, WPT can promote discussion around standardization and attract more implementers to the process." has the process of standardisation exactly backwards. We only landed support for the webdriver protocol in WPT once the standardisation process was effectively complete, and there was support implemented in multiple browsers. If the primary driver for this effort is

[2019-02-08 20:59] foolip commented on #5
I fear that the framing of generally "automating browsers" and mention of CDP standardization has made it seem like this proposal goes much further than it actually does. The proposal is to add a product-specific executor similar to [executormarionette](https://github.com/web-platform-tests/wpt/blob/master/tools/wptrunner/wptrunner/executors/executormarionette.py) or [executorservo](https://github

[2019-02-11 13:39] gsnedders commented on #5
I think to be accepted, the current RFC draft needs to be heavily rewritten if the goal is just to add a product-specific executor, and not positioning it as a longer-term project to supplant at least the the WebDriver executor.

[2019-02-11 14:18] foolip commented on #5
Maybe <s>striking</s> some bits would suffice, but I'll leave it to @jugglinmike how to proceed.

[2019-02-11 15:11] paulmeyer90 opened #7 "RFC: Add TestDriver support for the generate_test_report WebDriver extension command."
# Summary
I propose to add TestDriver support for the "generate_test_report" WebDriver command, which will allow generic reports to be consistently generated during web platform tests. This command is specced as part of the Reporting API spec [here](https://w3c.github.io/reporting/#generate-test-report-command).

# Motivation
The real-world causes of reports (like deprecations, interventions, and

[2019-02-11 15:32] jgraham commented on #7
This is somewhat off-topic, but I think the way that spec introduces the command isn't what WebDriver intends; it isn't clear what the actual URL for the endpoint is. I don't think you need to define a prefix or anything in this case, just state what the URL is (because this extension isn't a vendor extension).

In any case I think this proposal looks fine, although to be clear that shouldn't be r

[2019-02-11 16:07] paulmeyer90 commented on #7
Okay, so to clarify, are you suggesting that I just combine the listed Prefix and Name into one URL field?

If not, could you point me to an example of the format you're looking for?

[2019-02-11 16:14] jgraham commented on #7
Yes.

[2019-02-11 16:34] gsnedders commented on #5
This is one case where the Rust RFC habit of RFCs being PRs is helpful, because they're more directly versioned (and in git).

[2019-02-11 16:50] jgraham opened #9 "Propose RFCs as issues"
# Summary
Propose RFCs as PRs rather than issues

# Motivation
See https://github.com/web-platform-tests/rfcs/pull/8 for other sections.

[2019-02-11 17:23] foolip commented on #5
Funny that this should happen for the first two RFCs, and in the first I sent PRs to the README :)

[2019-02-11 17:29] jgraham commented on #5
off-topic: I filed RFC #9 for proposing RFCs as issues and will hide the comments about that topic since they aren't directly relevant to this discussion.

[2019-02-11 18:58] paulmeyer90 commented on #7
Reporting spec updated here: https://github.com/w3c/reporting/pull/150

[2019-02-12 22:55] foolip commented on #7
This LGTM, glad you could make it all work together, @paulmeyer90! @LukeZielinski FYI, new automation API incoming.

[2019-02-18 09:56] foolip commented on #9
I support this!

[2019-02-18 09:56] foolip commented on #9
@jgraham 7 days have passed, so if you want to declare this accepted and merge https://github.com/web-platform-tests/rfcs/pull/8 that'd be OK. Do you want to update README.md in the same PR?

[2019-02-18 10:00] foolip commented on #7
@paulmeyer90 we've reached "In the case of no substantive disagreement the RFC is considered accepted after 1 week" in the process now. However, https://github.com/web-platform-tests/rfcs/issues/9 suggets doing RFCs in files in the repo instead. Would you be willing to submit a PR with this as a markdown file so we have it for all RFCs? (We just launched this process, tweaking as we go.)

[2019-02-18 10:26] jgraham commented on #9
I'll do the README changes as a non-RFC PR.

[2019-02-18 10:26] #9 closed

[2019-02-19 15:05] jgraham commented on #5
FTR, my opinion is that if this is an internal wptrunner change that the Chrome team want and will maintain there isn't a need to write an RFC because it becomes an implementation detail rather than a change in an externally-facing API. Of course I don't want to stop you writing up an RFC if you believe it's helpful to do so.

[2019-02-19 16:08] foolip commented on #7
This will be resolved by https://github.com/web-platform-tests/rfcs/pull/13, thanks @paulmeyer90 and @jgraham!

[2019-02-19 16:09] #7 closed

[2019-02-20 08:36] foolip commented on #5
@jgraham there would have to be either a new chrome_cdp product or a command line argument to change the executor, do you think that's internal enough to skip the RFC process?

There might also be new third-party dependencies, which haven't been spelled out completely in this issue but should be.

[2019-02-20 12:55] gsnedders commented on #5
@jgraham is OOO for the rest of this week, FWIW.

I think we should move towards being able to use command line args to change the executor, and given in the Chrome case we're likely to have both executors around for a long time we should definitely use an argument for this.

Third-party dependencies I think should only be a concern for the RFC process if it affects what's needed for `{manifest, l

[2019-03-20 18:00] gsnedders opened #20 "Manifest vNEXT (trie)"
Posting this as an issue, as it's really just somewhere to get a bunch of opinions on vague ideas rather than anything concrete:

We have a number of things in the manifest currently which really exist to deal with older generated manifests (which contain a number of bugs), see especially comments containing `MANIFEST6` in [manifest.item](https://github.com/web-platform-tests/wpt/blob/702c8f03a811

[2019-03-20 18:04] jgraham commented on #20
I believe there are concerns about the format not being text-based; both Chrome and Servo check the manifest in to their repositories, so having something binary is probably bad.

[2019-03-20 20:18] Hexcles commented on #20
I've seen a few serialization formats that can skip/lazy-parse predefined *fields*, but not entries in a map. It might be technically possible to do that in length-prefixed formats (like protobuf), but it usually requires a custom loader.

I'd hope to use a widely supported industry format (absolutely do not roll our own). Selfishly speaking, Go binding is critical :)

[2019-03-20 21:15] gsnedders commented on #20
@Hexcles how do you feel about binary formats, given Chromium has it checked in to its repo?

[2019-03-20 21:34] Hexcles commented on #20
@gsnedders it'd be indeed easier to directly check in text files, but Chromium does have infra in place to deal with binary dependencies, so I can be persuaded to write some more code to support binary metadata if the benefit is overwhelming.

I'm not yet promoting protobuf at this stage, but just want to point out that protobuf has a nice text format :)

[2019-03-20 21:37] jgraham commented on #20
Protobuf would be the first binary dependency required by all users, I think. That isn't necessarily fatal but does have some non-trivial cost associated with it.

[2019-03-20 21:48] gsnedders commented on #20
FWIW: I don't think the 300ms/500ms is the end of the world if we can make everything else quicker. It's not ideal, but it's not a huge cost.

[2019-03-20 21:52] jgraham commented on #20
Note there's also a jsshell use case where cutting into that 300ms might be siginificant; see https://bugzilla.mozilla.org/show_bug.cgi?id=1515039 (it seems like we'd really like to make the time to update and extract all jsshell tests less than 1000ms, and even that may cause complaints)

[2019-03-20 21:55] gsnedders commented on #20
I mean I expect if we RIIR we could manage to get quick enough for that… But again that's back to having a binary dependency, and I don't really want to maintain two implementations to avoid that.

[2019-03-20 21:58] jgraham commented on #20
Right, it's hard to see how to meet that target, but if we do want to then part of it will likely be making the manifest faster to parse. But from my point of view, there isn't much difference between requiring protobuf and requiring a Rust rewrite; both would be a binary dep for `./wpt` and require some special handling for gecko.

[2019-03-20 22:25] gsnedders commented on #20
Oh, one problem we currently have is how we deal with character encoding for file paths. Being on Python 2.7 as long as we're encoding them as JSON we need them to be a sequence of Unicode scalar values (i.e., have no surrogate pairs), though all the Python 2 APIs expect byte sequences (and remember paths are arbitrary 8-bit words on POSIX systems and 16-bit words on Win32). We currently waste qui

[2019-03-21 09:29] jgraham commented on #20
Well 100% can insist that all paths can be represented as plain UTF8 i.e. without lone surrogates.

[2019-03-21 16:31] gsnedders commented on #20
I think that's not unreasonable, though I do worry a bit about the cost of UTF-8 validating everything (but I think we have to, otherwise `json.dump` will throw).

Anyhow, as far as the manifest format goes, it sounds like we may as well stay with JSON, given the format isn't the fundamental performance problem, and if we're adding Python extensions that are required we may as well rewrite the man

[2019-03-22 18:00] jugglinmike opened #21 "Designate Code of Conduct enforcement group"
[RFC 17](https://github.com/web-platform-tests/rfcs/pull/17) presents an incomplete Code of Conduct for WPT. It lacks contact information for individuals who are responsible for enforcing the code, and this is because we haven't found anyone to help out.

In order to complete that RFC (and resubmit the proposal), we need to identify a group of people who would be willing to provide this service to

[2019-03-22 18:01] jugglinmike commented on #21
Some initial questions:

- how many people should be on the team?
- where/how should we solicit volunteers?

[2019-03-22 19:00] gsnedders commented on #21
We also should define some process as to what happens when a report a received.

I don't think we need a huge number of people, but we do need a decent number; I'd probably suggest half a dozen.

[2019-03-25 12:28] foolip commented on #21
This repo is for tracking high-level changes in WPT, so perhaps we can consider this issue announcement enough?

I'd suggest that whoever wants to drive https://github.com/web-platform-tests/rfcs/pull/17 to completion also reaches out to candidates. There will be a chance to self-nominate or object on the RFC itself.

[2019-03-25 12:36] gsnedders commented on #21
@foolip but we closed the RFC because it doesn't have any changes from the earlier PR?

[2019-03-25 13:38] foolip commented on #21
@gsnedders right, just saying that whoever wants to push that through the RFC process should self-assign this first. @jugglinmike or was your expectation that the wpt core team would resolve this issue so that you can reopen #17?

[2019-03-25 16:25] jugglinmike commented on #21
I closed gh-17 based on @gsnedders' indication that the proposal required substantive work before it could be considered complete. Since the process is designed to facilitate discussion on concrete proposals, the RFC should only be re-opened once such a list is available.

It's a little unclear whether or not someone outside of the core team can/should find volunteers, but only because the core te

[2019-03-25 17:29] gsnedders commented on #21
I'm not sure how much of the substantive work needs to be deal with at the RFC level. I don't think we need huge guidelines as to how to deal with reports, and I don't think we need the core team's agreement on every last detail. The largest part is finding volunteers for volunteers.

[2019-03-25 22:42] foolip commented on #21
Yeah, finding volunteers and writing words seems like the time consuming bit here. I'd be surprised if there's any dissent from the core team or from elsewhere.

[2019-03-26 01:41] jugglinmike commented on #21
Agreed on all accounts. The "substantive work" I referenced is exactly finding the volunteers.

[2019-03-26 13:46] boazsender commented on #21
I would be happy to volunteer on to be a reporting contact for the code of conduct.

I'm also available starting the week of April 8th to work on updating the CoC itself. I just worked on the re-write of the [Bocoup Code of Conduct](https://bocoup.com/code-of-conduct), and have volunteered to work with the @jorydotcom and the TC39 CoC group as a point of conduct for the new Ecma TC53 CoC.

Let me

[2019-03-26 14:34] foolip commented on #21
@boazsender sounds great! Would you be up for finding whatever number of volunteers you think is appropriate and eventually reopen #17? If so I can assign this issue to you :)

[2019-03-26 14:45] jorydotcom commented on #21
echoing @boazsender here - happy to help. There are some efforts brewing within TC39 and other community spaces to create a supportive 'playbook' of sorts, would be great to get ya'lls input on those resources as they come together as well!

[2019-03-28 14:36] boazsender commented on #21
Sure thing @foolip. I'm heading out of the office tomorrow, but will take that up when I'm back the week of April 15th.

[2019-06-11 16:00] jgraham commented on #5
Yes. I think everything proposed here counts as internal in the sense that it doesn't produce new requirements or obligations on people not using the proposed code. I think this RFC can be dropped and worked on as a normal issue.

*However* any proposal to add test accessible-features which depend on features of CDP would require an RFC and would almost certainly be rejected at this time, on the b

[2019-06-11 16:02] foolip commented on #5
Thanks @jgraham, that all sounds good and in line with my thinking. @jugglinmike, I'll go ahead and close this issue, and the rest can be handled in regular code review.

[2019-06-11 16:02] #5 closed

[2019-06-11 16:03] foolip commented on #20
@gsnedders do you want to turn this into a PR, or is the proposal still not well formed enough?

[2019-06-11 18:08] gsnedders commented on #20
We've still been iterating a fair bit on the manifest-path-trie branch, and exploring different options; I don't think it really makes sense to write a fully-formed RFC at this point.

[2019-08-22 08:54] zcorpan opened #26 "Make @wpt-pr-bot assign someone for each RFC"
_Originally posted by @foolip in https://github.com/web-platform-tests/rfcs/pull/25#issuecomment-523483038_

I think that would be good. This seems similar to reviews of wpt PRs. For that, we made @wpt-pr-bot assign a single person for each PR. I suggest that can be done in this repo as well, if the bot knows who are in the core team.

Benefits:
- A single person responsible for each RFC hopefully

[2019-09-10 01:54] boazsender commented on #21
Sorry for the long delay on this. I think we're fine to move forward with two folks on the enforcement group:

* Boaz Sender (@boazsender)
* Jory Burson (@jorydotcom)

Can you reassign #17 to me so I can reopen it?

I've opened https://github.com/web-platform-tests/wpt/pull/18948 with patch to add the contributor covenant with Jory and myself as points of contact for enforcement.

[2019-09-11 00:22] frivoal commented on #21
Nice, thanks for picking this up (and sorry for not noticing earlier). A couple of comments:

* I'd suggest indicating next to the names of the moderators which languages they are comfortable communicating in. If someone who's not fluent in English feels the need to reach out to moderators, they are likely to feel more at ease if they find someone who can speak their language.
* I'd also move the

[2019-09-17 02:26] boazsender opened #30 "Create an RFC for what material is and is not allowed in WPT"
We lack a clear policy of when to accept/reject material.

Some further action is needed after the discussion at TPAC regarding "tests that depend on test-only APIs implemented using Mojo for Chromium, e.g. [WebXR](https://github.com/immersive-web/webxr-test-api/blob/master/explainer.md), [WebUSB](https://wicg.github.io/webusb/test/)".

It seems like there was latent consensus that tests which can

[2019-09-17 02:42] Hexcles commented on #30
Tangentially, we also discussed the possibility of "tentative" directories and correspondingly a guidance like e.g. "a directory for a new API with only an explainer without a draft spec should be marked as tentative". I'm not sure if we should have a different RFC for "tentative" directories though cc @jgraham .

[2019-09-17 03:19] foolip commented on #30
@boazsender can I assign this to you? I don't think @web-platform-tests/wpt-core-team feel we are on the hook to resolve issues in this repo, just PRs.

[2019-09-17 03:20] Hexcles commented on #30
Also in regards to the specifics of MojoJS: https://github.com/web-platform-tests/wpt/issues/16455#issuecomment-532040838

[2019-09-17 04:13] boazsender commented on #30
@foolip: sure thing!

[2019-09-30 15:27] gsnedders commented on #21
The other thing that came out of discussion at TPAC is having a defined process for how we add people to the group.

[2019-10-12 13:39] zzz6519003 commented on #1
r u from w3c?

[2019-11-26 20:06] gsnedders commented on #20
Another thing that has come up repeatedly is the use of test type at the top level of the manifest; we store the test type in the `path_hash` to speed up looking up a given path, but this essentially means we end up duplicating all the paths another time.

It's not clear what advantage we get by having this indirection, and it has clear costs (it bloats the size of the JSON significantly and it me

[2019-11-26 20:12] jgraham commented on #20
I don't recall what my opinion was, but it's not a rare thing to filter by test type; it's the way that our CI works and gecko's CI works. And I think there's a bunch of code that assumes that's a fast thing to do.

That said it's definitely possible that it's the wrong data model and that the extra bloat is a higher cost than iterating all the things.

[2019-11-27 15:15] gsnedders commented on #20
I mean when we're filtering by test type it's normally when we're running all tests, and therefore the iteration cost is less significant?

As for the `jsshell` use-case: I think really for that we need a separate section listing jsshell tests? We still need to check everything compared with the mtime cache in case tests have become new jsshell tests, so we still have a relatively high iteration c

[2020-02-08 19:09] Hexcles opened #43 "Make a list of major stakeholders/users to notify"
In the wake of https://github.com/web-platform-tests/rfcs/pull/40#issuecomment-583661073 (no one recalled Bikeshed used the manifest, too), I think we should document some institutional knowledge, namely a list of major stakeholders/users of various components so that we can notify them of potential breaking changes.

[2020-02-10 11:20] jgraham commented on #43
I would suggest a `infra-owners` group who could be @-notified for RFCs changing data formats.

[2020-02-10 15:45] Hexcles commented on #43
That's a good idea for large-scale changes. We probably also want a more detailed list somewhere, too, something like https://web-platform-tests.org/admin/index.html

[2020-02-18 10:37] Ms2ger opened #45 "Update pywebsocket to python3-compatible upstream"
This probably doesn't need a full RFC, but wanted to make sure stakeholders knew about this.

https://github.com/web-platform-tests/wpt/issues/21749
https://github.com/web-platform-tests/wpt/pull/21845

[2020-02-18 10:37] #45 closed

[2020-02-18 19:21] fippo opened #46 "how to include third party javascript libraries?"
In [this chrome CL](https://chromium-review.googlesource.com/c/chromium/src/+/2050303) I tried adding a [third-party library for dealing with SDP](https://www.npmjs.com/package/sdp) in webrtc tests. I put a trimmed down version of the code, a README specifying where to obtain it and a LICENSE file into a directory under the one with the tests using it. @foolip was summoned and asked me to raise th

[2020-02-18 19:29] jgraham commented on #46
My point of view:
 * Use `<spec>/third_party` for third party code
 * We can write a rule to exclude all `third_party` directories from linting
 * The best way to add them is typically using `git subtree`, in case local modifications are required (but local modifications are discouraged in general I'd say). Note that merging subtrees required a direct push to preserve the tree shape.
 * I don't th

[2020-02-18 19:44] Hexcles commented on #46
Vendoring third-party code and using a package manager are not mutually exclusive, if we choose not to use `git subtree`.

For npm packages, I actually think we should use a package manager, *and* check in the fetched source code. This solves the problem both for vendors (use the checked in source code directly) and authors (easy to upgrade using `npm up`), at the cost of losing the detailed versi

[2020-02-23 08:38] fippo commented on #46
I took a stab at the "use yarn" approach. Branch [here](https://github.com/fippo/web-platform-tests/tree/sdp-third-party)

The package.json files can the pretty small thankfully, only listing dependencies. npm and yarn complain about a missing license field but that is just a warning.
Checking in node_modules required git add -f since node_modules is in the root .gitignore. -f solves the problem h

[2020-02-24 18:25] fippo commented on #46
made a PR from the branch

[2020-02-25 02:13] snuggs commented on #46
@fippo this can turn into a ton of technical debt very fast. Also not sure what happens from breaking typical node conventions of traversing `node_modules` location. Then I realized this isn't a node project and the _minimum_ we need is `sdp.js`. Luckily this package is fairly tight. So seems like an easy band aid. Our future selves may not be so lucky :-).

My vote is for placing `sdp.js` _(where

[2020-03-10 13:01] fippo commented on #46
ping - if you folks could take a look at the PR

@alvestrand just proposed another creative test in which this library would be super helpful :-)

[2020-03-27 16:34] stephenmcgruer commented on #46
Hi all, sorry for the delay. I discussed this with @jgraham and @Hexcles today, and we're happy for the proposal from @snuggs to go ahead. That is:

i. Add a new directory, `webrtc/third_party/sdp`
ii. Vendor (copy) `sdp.js` and its associated `LICENSE` file into `webrtc/third_party/sdp`
iii. Add lint rules to ensure that `third_party` directories are excluded from linting presubmits.

This is us

[2020-03-31 10:04] fippo commented on #46
Thank you (also Harald for pinging)! Made a new PR referenced above this comment.

[2020-04-17 14:41] stephenmcgruer commented on #21
As per https://github.com/web-platform-tests/rfcs/pull/17#issuecomment-614370614, @boazsender no longer has time to work on this so I am removing him from the assignee list.

Reading this thread and the RFC, I come up with the below (incomplete) summary of Things Needing Done. Most of these involve changing the RFC, a few involve updating the [Code of Conduct PR](https://github.com/web-platform-te

[2020-04-21 14:00] stephenmcgruer commented on #20
The related RFC (and the implementation) landed, so I think can be closed.

[2020-04-21 14:00] #20 closed

[2020-04-26 17:39] guest271314 commented on #21
What will "Enforcement Team" do when W3C, WHATWG,  WICG, or any other organization, including itself, does not abide by its own code of conduct?

Is the concept merely big  Me  and little You?

Not everybody needs a group hug and not everyone speaks the same language.

Learned long ago, via hard lessons, that there is  no such thing as  "respect", objectively. "respect" is an emotion that the indi

[2020-04-26 22:35] gsnedders commented on #21
@guest271314 This isn't an appropriate venue to vent your issues about with other groups with other policies about banning users, whether they have a CoC or not. At this point, essentially the whole project is in favour of the CoC, plenty chance to object has been given, and almost no objections have been raised.

Ultimately, people are free to fork the project if they feel how it is being run by

[2020-04-27 13:40] guest271314 commented on #21
@gsnedders You don't get it. And you probably never will. Did not ask for your permission to give you an expert opinion on the potential for fraudulent conduct under the auspices of a "Code of Conduct" by the very individuals who might set up such a Gestapo system that are accountable to no one. In some venues all it takes is one objection to halt a proposal. Do not expect that here. Individuals a

[2020-04-29 14:50] gsnedders commented on #21
FWIW, I had at least one other volunteer whom I should check in on. That said, I'm not overly concerned about the size of the group (IIRC, my motivation before was mostly fear out of management chains affecting people's willingness to come forth, but at least Jory avoids that).

I don't think we really need to define a process here? Very few groups define such a thing because enforcement is very m

[2020-05-04 15:13] stephenmcgruer commented on #21
If you could check with them, that would be appreciated. I similarly don't think we need a specific size mentioned, but would much prefer 3+ to 2+.

[2020-05-05 13:02] gsnedders commented on #21
They asked their manager, and have now pinged said manager. I have no further update to provide. Also remembered someone else I think I pinged and asked them again.

[2020-05-05 22:43] gsnedders commented on #21
`group.push(` @nsatragno `)`

[2020-05-06 19:39] stephenmcgruer commented on #21
Done.

[2020-05-12 12:12] stephenmcgruer commented on #21
We now have a 3 person moderator team, which I think meets the minimum we would want, and I've addressed the action items I filed in https://github.com/web-platform-tests/rfcs/issues/21#issuecomment-615283331, so I think this issue has run its course. The RFC has been updated and shifted to https://github.com/web-platform-tests/rfcs/pull/54, and comments on it are very welcome there :).

[2020-05-12 12:12] #21 closed

[2020-05-14 09:42] foolip commented on #46
As part of https://github.com/web-platform-tests/wpt/pull/21855 I've spotted another third party JavaScript library in the repo, https://github.com/nodeca/pako added in https://github.com/web-platform-tests/wpt/pull/19614.

[2020-05-29 02:58] guest271314 opened #55 "Promise of engaging in reprisal by WPT adminsitrative agent against revoked Member for exercising Free Speech; Appeal of WPT membership revocation and ban for no articulatable reason; Double Jeopardy; Due Process; Recource and Remedy"
This repository clearly makes requests for comment and wider review

Postetd the expert opinion that was requested here https://github.com/web-platform-tests/rfcs/issues/21#issuecomment-619993348.

From Moderation notice: web-platform-tests Simon Pieters

You need to state _precisely_ the reason for deprivation of right or privilege, the Liberty Interest that WPT created by assigning Membership an

[2020-05-29 17:01] burg commented on #55
Modest proposal: post patches related to WPT, or shut up and go away. Nobody has time to read your wall of text.

[2020-05-29 17:47] tabatkins commented on #55
@burg Being rude in response is not appropriate. This issue will be dealt with by the WPT moderators.

[2020-05-30 00:36] guest271314 commented on #55
@tabatkins No worries. Have no concept of "rude", either way. Nonetheless illustrates the notion of attempting to arbitrarily define what printed text in a post, on any platform, anywhere, is "rude" or "offensive", "disrespectful", et al., and the exceptions granted for some, perhaps not others, such a "rule", acts or omissions are basically impossible to implement without nullifying Free Speech.

[2020-05-30 00:55] guest271314 commented on #55
@burg

Therein lies a source of endless problems. Following that logic "nobody" has the time to read any "End User Agreement" or "Terms of Use", or for that matter "Code of Conduct", any Rule or Law, or the organic Constitution for the United States of America, either. Some public schools do not teach pupils cursive anymore, so if they happen to attempt to read the Constitution they might not have

[2020-05-31 11:15] #55 closed

[2020-06-09 08:52] jgraham commented on #46
I am somewhat concerned by PRs like that randomly adding third party code under different licenses all over the tree. @foolip started looking at lints for this; I wonder if we could check whether people are adding either `LICENSE` files or code with a license block outside of `third_party` directories, and make that check impossible to disable, in addition to the proposed check for LICENSE files i

[2020-06-09 11:07] foolip commented on #46
I've commented on https://github.com/web-platform-tests/wpt/pull/21855#issuecomment-641217990 about the difficulties I ran into and closed the PR to make it clear I'm not making any progress on it, and don't expect to.

[2020-06-09 19:42] stephenmcgruer commented on #46
So, we can never stop people adding third party code without us knowing; they could simply copy stuff from any library into a test file and there's no way we can detect that.

So, we should concentrate on common things people may do that we can detect, which to me is this list:
- Introduce a `third_party/foo` directory
- Add a `LICENSE` or `LICENSE.md` file (basically any file with `LICENSE` in th

[2020-06-22 15:53] jgraham commented on #46
I think that makes sense, although I'm not fully clear on the details of what you want to lint. I think we can enforce two things:
* Every file with `LICENSE` in its name is a lint error unless it's in a directory called `third_party`
* Every `third_party` directory is an error unless it's listed in the ignore rules. In those rules we should break down the listing by license to set an expectation

[2020-06-22 19:39] stephenmcgruer commented on #46
Yep, these are what I want to lint :). (actually I had missed the first one, which I think is great!).

 Ok, I'll work on the lint change, and maybe do some documentation work too.

[2020-06-23 13:43] stephenmcgruer commented on #46
Violations of this rule:

[code]

[2020-06-23 13:51] jgraham commented on #46
@foolip looked at some of these

https://bugzilla.mozilla.org/show_bug.cgi?id=1637924 is filed for the css-color issue but is waiting for @dbaron I think we can also assume that `fonts` is all third party. So that leaves `webgpu`, `CSS2`, `html/canvas/tools` and `css/css-ui/support/PTS/` to investigate.

[2020-06-23 13:59] stephenmcgruer commented on #46
CSS2 is https://github.com/web-platform-tests/wpt/pull/23593, which is waiting on @wseltzer I believe.

[2020-08-14 05:52] zcorpan commented on #26
I'm not sure anymore this is a good idea. The volume here is very low, it makes more sense to have us manually try to assign each PR.

[2020-08-14 11:05] stephenmcgruer commented on #26
I agree. I have concerns about the outstanding RFCs, but I don't think a bot is going to help solve those cases :). I'm going to close this; if anyone disagrees then please feel free to reopen with your thoughts :).

[2020-08-14 11:05] #26 closed

[2020-09-24 11:38] gsnedders opened #62 "Dropping Python 2 Support"
Mostly filing an issue here to at least have somewhere to write down the current Python 3 plan.

The status quo is most of our infrastructure now works on Python 3, and work is ongoing to fix the rest.

Most of us working on the infrastructure would like to minimise the amount of time we're supporting both Python 2 and Python 3, and we should probably have a discussion about both timeline for drop

[2020-09-24 11:44] stephenmcgruer commented on #62
Thanks for filing this Sam. My intention was that @ziransun and I will work on filing an RFC in the next few weeks for this, as we are close to having every (known) Py3 problem either fixed or at least explained.

Agreed; I have always thought of our initial support as being 3.6 and 3.8+. We would likely continue to run unittests/etc on both versions for the foreseeable future, but the WPT test su

[2020-09-24 12:11] jgraham commented on #62
I would say that we should aim to have our CI and major vendor CI running in Py3 by 2021-01-01 but should continue to support Py2 in our CI for some time after that in case we find a reason to roll back. At a minimum I'd say a 2021-02-01 to actually drop Py2 support and start to accept Py3-only patches.

[2020-09-24 12:13] jgraham commented on #62
Alternatively if people are comfortable with the more aggressive timeline, we could aim for out CI and vendor CI to switch before 2020-12-1. But I still have concerns that there's a lot of code not on the critical path to running tests (e.g. metadata update code) that is untested in Py 3.

[2020-09-24 13:56] Hexcles commented on #62
To consolidate everyone's suggestions so far, what about the following concrete timeline:

* "Py3-first" targeting 2021-01-01 (which means this will likely happen in Q4 2020): switch test runs to Python 3 on our CI (Taskcluster and Azure), but keep running unit tests and infrastructure tests in Python 2 and 3
* "Py3-only" on 2021-02-01 (no major work is planned for January 2021; February 1 is just

[2020-10-31 06:52] FrankYFTang opened #66 "RFC: Add TestDriver support for the "Set Timezone" WebDriver extension command"
# Summary
I propose to add TestDriver support for the "Set Timezone" WebDriver command, which will allow the web platform tests to set the host timezone in the user-agent. This command is specced in [here](https://docs.google.com/document/d/12vdPTH_Vlkt4pxwlWzR1CjKtLE6y2Z-Qs-GPi_hWXqc/edit#).

# Motivation
In order to test how web apps behave in different time zones, developers currently have to d

[2020-10-31 08:55] jgraham commented on #66
RFCs are usually pull requests.

In this case I have concerns about implmenting something where the "spec" is a Google doc. I think this would need to go through a proper standards process before we could consider it for testdriver.

[2020-10-31 12:19] stephenmcgruer commented on #66
Apologies @jgraham (and to Frank), that's on me. Frank is following a guide I own, which asks for an RFC to be filed and points to an old RFC ([here](https://github.com/web-platform-tests/rfcs/issues/7)) which I guess is from before we standardized on pull requests?

However, I'm not actually clear that we need to make an RFC part of the process. It was done for generate test report, but not for p

[2020-10-31 12:20] stephenmcgruer commented on #66
Indeed, https://web-platform-tests.org/writing-tests/testdriver-extension-tutorial.html doesn't mention writing an RFC, though as I understand it you weren't familiar with that guide until recently @jgraham so quite possibly you don't consider it authoritative either :)

[2020-11-02 09:31] jgraham commented on #66
I understand the desire to make this easy for developers. But, especially in cases like this where the feature might make sense independent of any other web platform feature, I wonder what's needed to communicate the new requirement to other parties and ensure that the design is implementable across multiple engines.

In particular one can imagine something that goes through a pseudo-standards ven

[2020-11-02 16:21] stephenmcgruer commented on #66
(cc @foolip )

With regards to 'are webdriver extensions in WICG actually reasonable standards?', I think that's a fair point.

It seems awkward to have WPT be the communication centre-point, though. This would mean any RFC to add a testdriver extension now needs all major vendors to go talk to their implementation team(s) and wait for their response to confirm that the extension is reasonable, wh

[2020-11-02 19:12] FrankYFTang commented on #66
OK, I also file

https://github.com/w3c/webdriver/issues/1559

[2020-11-02 19:18] FrankYFTang commented on #66
Could someone explain to me what is WICG ?

[2020-11-02 19:23] FrankYFTang commented on #66
@jgraham Since the value of the Timezone ID fired by this SetTimezone  WebDriver extension could only be observed by the calls defined in ECMA402. Would you recommend me to talk to ECMA402 or webdriver to incorporate [the Google Doc I put together](https://docs.google.com/document/d/12vdPTH_Vlkt4pxwlWzR1CjKtLE6y2Z-Qs-GPi_hWXqc/edit#) into their standard?

[2020-11-02 19:28] FrankYFTang commented on #66
@anba @sffc @littledan @gibson042 @zbraniecki @rwaldron @spectranaut @rkirsling @mathiasbynens - For the impact to testing about ECMA402 features

[2020-11-02 19:40] stephenmcgruer commented on #66
The [Web Platform Incubator Community Group](https://www.w3.org/blog/2015/07/wicg/), which is a incubator for web specs that are not yet widely accepted by multiple browser vendors. Here jgraham is using it to highlight the risk that people propose a bunch of WebDriver extensions that end up being very browser specific and not interoperable.

To be clear, much of the above conversation likely **do

[2020-11-02 20:34] FrankYFTang commented on #66
Now, what is the minimum criteria of such " appropriate place "? By default, my prefer place is the current Google Doc. If that is not acceptable for web-platform-tests to accept, then web-platform-tests need to define what is the minimum criteria location for such and I can work toward that.
1. Is it just need to be a document in public that everyone accessible? (then my current google doc fit, r

[2020-11-02 21:21] stephenmcgruer commented on #66
Apologies, I should have been more explicit. What I meant by 'appropriate' was that it is either a submitted PR or an LGTM'd PR to a web specification. As per our internal thread I (and I believe @domenic ) felt that HTML was a good choice given you were adding the `timezonechange` event to that spec, but you have since argued for both ECMA402 and the WebDriver spec itself.

jgraham has been clear

[2020-11-02 23:26] FrankYFTang commented on #66
OK, I also file issue in ECMA402 and placed on the Monthly Meeting Agenda of this coming Thursday to discuss would ECMA402 wiling to include a section about this. How does other features got added before?

[2020-11-03 10:32] jgraham commented on #66
Hopefully the relevant team has already been involved in the standards process and has already agreed that the proposal is reasonable. The additional piece of information is "this will be used in wpt tests, and therefore we need to implement it to get coverage of those tests". That may seem obvious from the point of view of people working on test infra, but it's quite possible for product teams to

[2020-11-03 12:02] stephenmcgruer commented on #66
This question is ambiguous. I am interpreting it as "What specs were other webdriver extensions added to?", but let me know if that is not what you were asking. For my interpretation:

* [Permissions spec](https://w3c.github.io/permissions/#automation) ([initial PR that added it](https://github.com/w3c/permissions/pull/151))
* [Reporting spec](https://w3c.github.io/reporting/#automation) ([initial

[2020-11-03 23:11] FrankYFTang commented on #66
@littledan - would you mind to add an "Automation" section into similar to above into your https://github.com/whatwg/html/pull/3047 ?
My draft of such is in https://docs.google.com/document/d/12vdPTH_Vlkt4pxwlWzR1CjKtLE6y2Z-Qs-GPi_hWXqc/edit#

[2020-11-05 19:42] FrankYFTang commented on #66
ECMA402 subcommittee talk about the concept of adding "Set Timezone'" WebDriver extension to ECMA402 today. The conclusion is we do not think ECMA402 should host such specification since ECMA402 should not be the source of truth of system timezone.
That narrow down the possible places for this spec to
1) WebDriver
2) HTML

[2020-11-24 12:40] stephenmcgruer commented on #66
I have opened https://github.com/web-platform-tests/rfcs/pull/73 as an RFC for this extension now that it is in an (in progress) PR on the HTML spec.

I am closing this, but long term I do expect to come back to the discussions jgraham and I had above about reasonable expectations around specs/etc for WebDriver support.

[2020-11-24 12:41] #66 closed

[2021-02-04 10:48] gsnedders commented on #62
What's the current status of this?

[2021-02-04 10:52] jgraham commented on #62
Just landed a PR that starts removing some Py 2 support. I understood that we had agreed the 3.6+ starting 2021-02-01 timetable. I'm going to close this issue but feel free to reopen.

[2021-02-04 10:52] #62 closed

[2021-02-04 11:52] gsnedders commented on #62
I couldn't find any citation that: a) we did ultimately agree that; b) that we actually were holding ourselves to that (given some of the earlier delays).

[2021-02-04 12:00] stephenmcgruer commented on #62
I have been going based on https://github.com/web-platform-tests/rfcs/blob/master/rfcs/py_3.md (associated PR https://github.com/web-platform-tests/rfcs/pull/69), combined with the fact that no vendor had asked for an extension. (Including Chromium, despite the fact that I have had to solve 2-3 medium level fires over the last two months when trying to upgrade).

[2021-02-04 12:04] jgraham commented on #62
Yeah I was also assuming that the merged RFC held (despite also having to fix some problems with gecko to make the timetable work).

[2021-02-04 16:55] gsnedders commented on #62
Ergh, I missed it while scrolling through the list of RFCs!

[2021-03-25 19:17] arenevier opened #77 "Merge websockets/constants.js and websockets/websocket.sub.js"
As discussed in earlier  https://github.com/web-platform-tests/rfcs/pull/67#pullrequestreview-524740045,

We need to merge constants.js and websockets.js

It will make tests more consistent, remove some duplicated code, and make more tests testable with http2.

I will try to work on a patch.

[2021-03-25 19:17] arenevier commented on #77
@zcorpan @ricea

[2021-03-26 20:31] #77 closed

[2021-03-26 20:32] arenevier commented on #77
I have opened it against rfcs by mistake. I will reopen it to https://github.com/web-platform-tests/wpt/issues/28264

[2021-04-28 10:26] letitz opened #79 "RFC 72: Issues on Mac OS"
I've been implementing RFC 72 in Chromium [1] [2] and uncovered an issue on Mac OS: it seems that the loopback interface is only bound to `127.0.0.1/32` [3], not `127.0.0.1/8` as envisioned in the RFC.

This is an issue on Chromium's Mac OS test runners, and would probably be an issue on WPT Mac OS test runners as well as on developers' Mac machines. Fixing it requires issuing `ifconfig` commands

[2021-04-28 11:58] foolip commented on #79
@letitz what are the tests that would be affected by this? We do support running Chrome on macOS but don't do it for wpt.fyi. But tests in infrastructure/ do get run on Chrome on macOS, so if you add a test there, we could tell if it's an issue generally of "just" for Chromium's CI setup.

[2021-04-28 12:23] letitz commented on #79
Private Network Access tests that depend on the address space override mechanism described in RFC #72 would directly be affected. These live in `fetch/private-network-access`.

WPT local servers might also fail to bind to e.g. `127.1.0.1` on Mac OS, regardless of the browser under test. Such failures should be treated as non-fatal so as to allow tests to run anyway - tests that do not rely on addr

[2021-04-29 12:21] letitz commented on #79
I took a look at where to put the code to serve on more than a single IP address, and stumbled across `infrastructure/server/wpt-server-http.sub.html`. It seems a natural place to test that the servers are working on the alternate IPs...

[2021-04-29 12:29] letitz commented on #79
Hm. Upon second thought, it seems that local development should not too much of a problem, we can add macOS-specific instructions near the existing [`/etc/hosts` setup instructions](https://web-platform-tests.org/running-tests/from-local-system.html#hosts-file-setup) instructing users to run a script that sets up loopback addresses.

[2021-05-04 15:00] foolip commented on #30
@boazsender I'm going to go ahead and close this issue now, but if you do still want to send an RFC for it, certainly that would be welcome!

[2021-05-04 15:00] #30 closed

[2021-05-04 15:02] foolip commented on #79
They are run for Safari, but Chrome and Firefox only ever run infrastructure/ on macOS here in wpt's CI. I'm not sure what runs in Gecko's CI on macOS, but @jgraham knows.

Ultimately, if macOS-specific configuration is needed to make this work, then we can make it part of https://web-platform-tests.org/running-tests/from-local-system.html#macos-setup (which is currently wrong) and make sure the i

[2021-05-04 15:23] jgraham commented on #79
Gecko runs ~everything in CI on macOS. I don't know exactly how much flexibility we have when configuring those machines, but I would strongly prefer to avoid anything requiring system-level changes (they are difficult to do, difficult to configure alongside the tests, and liable to leak into other tasks run on the same machine pool).

[2021-05-04 15:48] foolip opened #82 "Requirements for Python dependency management"
Hi @web-platform-tests/wpt-core-team!

Recently I have taken a closer look at how we track and install Python dependencies here in WPT. I wrote up two fairly detailed issues about what we're currently doing in https://github.com/web-platform-tests/wpt/issues/28801 and https://github.com/web-platform-tests/wpt/issues/28809.

I suspect that there's room to improve matters here, but want to gather re

[2021-05-05 09:03] letitz commented on #79
This situation is unfortunate. One of the main rationales for choosing this approach in RFC #72 was that it avoided the need for system-level changes requiring root permissions... Otherwise, we could have added routes for public IPs in some obscure address block to loopback and be done with it.

It seems to me that adding routes for 127.0.0.2 or 127.2.0.1, or even 127.0.0.0/8 to loopback on CI mac

[2021-05-05 10:08] jgraham commented on #79
@ddragana should comment on whether that kind of port-specific override is OK for Gecko.

From the point of view of CI, "just run `ifconfig`" is not something I'd assume to be simple. Machines are often configured so that specific tasks don't have root and on mac in particular the lack of containerisation makes it harder to test and deploy configuration changes. Figuring out what's even possible h

[2021-05-05 11:57] ddragana commented on #79
We can make the port-specific override work in Gecko.
This work-around is fine for Gecko.

[2021-05-05 13:27] letitz commented on #79
Thanks @ddragana. I'll send a PR to amend RFC #72.

[2021-05-06 15:22] letitz commented on #79
#83 should fix this issue.

[2021-05-06 16:27] LukeZielinski commented on #82
Here's an overview of how wptrunner deps work on the Chromium side:
- we are manually rolling `tools` (including a subset of `tools/third_party`) on a ~regular basis. During this process we may notice missing/stale deps and update appropriately (by also rolling another subdir of `tools/third_party`, or installing the dep)
- we also have installed dependencies with pinned versions available for our

[2021-05-06 16:35] foolip commented on #82
Thanks @LukeZielinski, that's super helpful!

Given "our own package server ... currently a manual process" would it be fair to say that it'd be an improvement if dependencies in WPT were updated rarely, on a very predictable schedule like quarterly? Right now we're landing pyup changes as they come in.

And am I right to assume that moving to *only* installed dependencies would be better, to not

[2021-05-06 16:58] foolip commented on #82
https://github.com/web-platform-tests/wpt/issues/24829 has some good discussion too.

[2021-05-06 17:51] jgraham commented on #82
On the gecko side:
* We update the tools with the rest of the changes; there's no special handling
* When stuff breaks on import it usually requires emergency patches. But I don't recall that being due to dependencies in particular (it's more often stuff like "wptrunner is broken in some configuration that we don't run on GitHub").
* We don't really use the installed dependencies for anything in C

[2021-05-06 20:05] LukeZielinski commented on #82
I'd consider this an improvement yes. Mostly in terms of planning, so you could dedicate some time each quarter (or whatever) to get your deps figured out, and not have to scramble.

All-vendored or all-installed both seem better than the hybrid thing that exists today. One argument I could see *against* all-vendored deps is that it checks a whole pile of random code into the tree (pollutes codese

[2021-05-07 15:06] foolip commented on #82
Thanks @jgraham, that's very helpful!

In case you saw it, I want to be clear that the all-installed https://github.com/web-platform-tests/wpt/pull/28796 isn't really the direction I'm hoping for here, that's was an exploration to figure out what the dependencies actually are.

It sounds like a requirements from Gecko is that it should be easy import WPT and all of its dependencies so that everyth

[2021-05-07 15:39] jgraham commented on #82
So one reasonable goal here would be to remove `localpaths.py`. I wonder if something like the following could work:
* We have a requirements_vendored.txt file that installs everything under third_party into the virtualenv by path.
* We additionally have a requirements_thirdparty.txt that lists the specific versions of those depencies that we're using
* We have a job that fails in CI if the vendor

[2021-05-07 15:59] jgraham commented on #82
One concern here is startup latency; if every `wpt run` call is invoking `pip` and checking that all the packages are installed it's going to add noticable startup time.

[2021-05-07 16:43] gsnedders commented on #82
For WebKit, there's a few notable cases:

1. Running LayoutTests, which in the future should require wpt.manifest
2. Running check-style, which in the future should require wpt.lint
3. Running WebDriverTests, which requires wptrunner etc. (though I think safaridriver might not use wptrunner, merely using pytest directly?)

Historically, the goal was for at least `./wpt manifest` and `./wpt lint` t

[2021-05-07 16:47] foolip commented on #82
That's precisely one of the things I'd like to resolve here. When I run `./wpt run` myself, I can tell that `pip` is being called at least twice based on the deprecation messages. This doesn't happen in vendor CI, of course, but I'd like to get a better faster experience in the CLI too :)

[2021-06-14 07:27] letitz commented on #79
#83 was merged.

[2021-06-14 07:27] #79 closed

[2021-09-18 06:18] foolip opened #97 "Unified navigation across our sites"
Suggested by @fantasai in https://twitter.com/fantasai/status/1438998571311841281:

I think this is a good idea. For wpt.live there is a challenge of not messing with reftests, but we could at least do it for all directories, including the root.

cc @KyleJu

[2022-01-01 12:09] m0dulev1 commented on #97
Ty

[2022-01-01 12:09] m0dulev1 opened #103 "This"
This

[2022-01-21 15:33] foolip opened #104 "Interop 2022 RFC is now ready for review"
See https://github.com/web-platform-tests/rfcs/pull/99#issuecomment-1018615094. This issue is opened so that people who watch the repo will be aware that the RFC is now active. (In hindsight, an initial "process" RFC first might have made more sense, but oh well.)

[2022-02-04 10:50] zcorpan commented on #97
Here's a mockup I made in devtools. It needs tweaks to work on mobile/narrow viewport.

Longdesc: At the top of the page there's a dark blue navigation bar. On the left, a white WPT logo. Then 3 links:
- Docs `web-platform-tests.org`
- Test results `wpt.fyi`
- Live tests `wpt.live`

The current page is highlighted with a lighter background color.

<img width="1070" alt="Screenshot of web-platform-

[2022-02-04 10:58] zcorpan commented on #97
Actually removing the URL from the link text is probably better, as it is easier to read the links and it takes up less space (for narrow viewports).

<img width="612" alt="Screenshot of wpt.live mockup without URLs in the link text" src="https://user-images.githubusercontent.com/244772/152517489-9e637610-95bf-498e-ab37-1086bca24787.png">

[2022-02-04 11:51] foolip commented on #97
Thanks @zcorpan, I like these mockups! For wpt.live, would you suggest showing this navigation only in directory listings, or how do we avoid it interfering with tests?

[2022-02-04 13:01] zcorpan commented on #97
Yeah only directory listings, not in tests.

[2022-02-07 14:43] zcorpan commented on #97
Feedback from @isaacdurazo (who designed the logo)

The body text is different on the different sites, but on [web-platform-tests.org](http://web-platform-tests.org/) (which uses the same font-family), the body text is 17px. the nav bar font-size is 16px.

[2022-02-08 05:58] Jmayorgagx13 opened #105 "is:issue comments:>50 is:open"

[2022-02-08 05:58] #105 closed

[2022-02-18 13:52] foolip commented on #104
https://github.com/web-platform-tests/rfcs/pull/99 is now accepted/merged.

[2022-02-18 13:52] #104 closed

[2022-10-10 15:59] gsnedders opened #125 "Use of tentative for "not ready for implementation" specs?"
Currently https://web-platform-tests.org/writing-tests/file-names.html#test-features says:

However, https://github.com/web-platform-tests/wpt/pull/36353#issuecomment-1273504927 raises the issue of parts of [CSS Color Level 6](https://w3c.github.io/csswg-drafts/css-color-6/) (which has a banner saying: "This spec is not yet ready for implementation. It exists in this repository to record the ideas

[2022-10-10 19:29] foolip commented on #125
Tentative tests so far are for things where there's no spec text yet, just an open issue or PR. If we want to be able to link tests to spec status, I think some other mechanism would be preferable.

If we have spec links this information could be inferred, right?

[2022-10-10 23:53] nt1m commented on #125
The banner on CSS Color Level 6 does insinuate "not yet required by any specification".

[2022-10-11 04:36] karlcow opened #126 "Hardware and Testing capabilities for mobile environments"
Hi https://github.com/orgs/web-platform-tests/teams/wpt-core-team!

(This is related to a discussion started by @jgraham in https://github.com/web-platform-tests/interop-2022-viewport/issues/23#issuecomment-1273448590 related to viewport testing)

## Context
The availability of appropriate hardware for testing on mobile is key to be able to get meaningful results for some areas such as viewport. I

[2022-10-11 09:06] jgraham commented on #126
Some more details about what Gecko/Firefox does for Android testing:

We're running wpt in CI in the Android emulator. wptrunner runs on the host machine, and the frontend launches the emulator and ensures that the browser is installed (in practice we use a "geckoview test runner" application rather than actual Mobile Firefox, but in principle either could work).

The emulator requires KVM for rea

[2022-10-11 15:29] gsnedders commented on #126
On the iOS/iPadOS side:

For on device testing, the only possible version of WebKit that can be tested is the system-provided version. This requires a macOS host machine to run safaridriver and communicate with the embedded device (and minimising latency is probably beneficial there).

For simulators, we can rely on Azure Pipelines or similar for this: there's no similar complexity as there is for

[2022-10-12 08:30] jgraham commented on #126
So it sounds like setting up WebKit/iOS testing is the most tractable to get running at all (we can just set up the simulator on existing infrastructure, which is work, but just software work), and the hardest to get completely right (because we can't use something that will behave just like actual Safari). So from an Interop point of view, a question is whether Apple would be content with what we

[2022-10-12 11:33] jgraham commented on #126
I made an [Interop 2023 proposal](https://github.com/web-platform-tests/interop/issues/201) for this work. I think it's helpful to have set out the reasoning for making this a priority, and the roadmap for the work, even if we eventually decide to approach it in a different venue.

[2022-10-14 15:06] gsnedders commented on #126
It being used as a score for WebKit is likely acceptable; it being used as a score for Safari won't be.

That said, I don't think it has the same behaviours as Safari when it comes to collapsing UI on scroll, nor does it have touch events (or pointer events, etc.) enabled. Given some of the interest prior to Interop 2022 was for Pointer Events, that does somewhat limit usefulness.

[2022-10-25 22:09] WeizhongX commented on #126
For Chrome Android:
We are now running WPT on chrome android in Chromium CI, then upload WPT results to wpt.fyi. We are running the tests with Android Emulator. With 36 linux bots, each run takes about 2 hours to finish (with --no-retry-on-unexpected enabled). At this point we are uploading results once each day. We plan to make a change to make this once per three hours, to generate more comparab